<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.paper.biz.front.FrontRepository">
    
    <select id="getNewMenu" resultType="Map">
        SELECT
             id as newstypeid
            ,newstype
        FROM
            paper_news_type
        ORDER BY newstype
    </select>

    <select id="getQueMenu" resultType="Map">
        SELECT
             id as questionid
            ,questiontype
        FROM
            paper_question_type
        ORDER BY questiontype
    </select>

    <select id="getNewsList" parameterType="Map" resultType="Map">
        SELECT
             c.id as id
            ,c.typeid as typeid
            ,c.title as title
            ,c.summary as summary
            ,IFNULL(c.thumbs,' ') as thumbs
            ,c.readtimes as readtimes
            ,c.goodtimes as goodtimes
            ,c.updtime as add_time
            ,'毕业之家' as author
        FROM
            paper_news_content c
        WHERE
        1 = 1
        <if test="typeid != null and typeid != ''">
            AND c.typeid = #{typeid}
        </if>
        <if test="newstype != null and newstype != ''">
            ORDER BY c.readtimes DESC
        </if>
        <if test="newstype == null or newstype == ''">
            ORDER BY c.updtime DESC
        </if>
        <if test="pagingOrNot != null and pagingOrNot != ''">
            LIMIT #{startindex}, #{pagesize};
        </if>
    </select>

    <select id="getNewsCnt" parameterType="Map" resultType="int">
        SELECT
            COUNT(*) as cnt
        FROM
            paper_news_content
        WHERE
        1 = 1
        <if test="typeid != null and typeid != ''">
            AND typeid = #{typeid}
        </if>
    </select>

    <select id="getNewsContent" parameterType="Map" resultType="Map">
        SELECT
             id
            ,title
            ,content
            ,readtimes
            ,goodtimes
            ,updtime as add_time
            ,'毕业之家' as author
        FROM
            paper_news_content
        WHERE
            id = #{newsid}
    </select>

    <select id="getQuestionList" parameterType="Map" resultType="Map">
        SELECT
        c.id as id
        ,c.typeid as typeid
        ,c.title as title
        ,c.summary as summary
        ,c.readtimes as readtimes
        ,c.goodtimes as goodtimes
        ,c.updtime as add_time
        ,'毕业之家' as author
        FROM
        paper_question_content c
        WHERE
        1 = 1
        <if test="typeid != null and typeid != ''">
            AND c.typeid = #{typeid}
        </if>
        <if test="newstype != null and newstype != ''">
            ORDER BY c.readtimes DESC
        </if>
        <if test="newstype == null or newstype == ''">
            ORDER BY c.updtime DESC
        </if>
        <if test="pagingOrNot != null and pagingOrNot != ''">
            LIMIT #{startindex}, #{pagesize};
        </if>
    </select>

    <select id="getQuestionContent" parameterType="Map" resultType="Map">
        SELECT
             id
            ,title
            ,content
            ,readtimes
            ,goodtimes
            ,updtime as add_time
            ,'毕业之家' as author
        FROM
            paper_question_content
        WHERE
            id = #{questionid}
    </select>

    <select id="getQuestionCnt" parameterType="Map" resultType="int">
        SELECT
        COUNT(*) as cnt
        FROM
        paper_question_content
        WHERE
        1 = 1
        <if test="typeid != null and typeid != ''">
            AND typeid = #{typeid}
        </if>
    </select>

    <update id="addNewsReadNum" parameterType="Map">
        update paper_news_content
        set
        readtimes = CAST(readtimes as SIGNED) + 1
        where id = #{newsid}
    </update>

    <update id="addNewsGoodtimes" parameterType="Map">
        update paper_news_content
        set
        goodtimes = CAST(goodtimes as SIGNED) + 1
        where id = #{newsid}
    </update>

    <update id="addQuestionReadNum" parameterType="Map">
        update paper_question_content
        set
        readtimes = CAST(readtimes as SIGNED) + 1
        where id = #{questionid}
    </update>

    <update id="addQuestionGoodtimes" parameterType="Map">
        update paper_question_content
        set
        goodtimes = CAST(goodtimes as SIGNED) + 1
        where id = #{questionid}
    </update>

</mapper>