<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.paper.biz.questioncontent.QuestioncontentRepository">
    
    <select id="getQuestionContentList" parameterType="Map" resultType="Map">
        SELECT
             c.id as questionid
--             ,c.typeid as typeid
            ,c.title as title
            ,c.summary as summary
--             ,c.thumbs as thumbs
--             ,c.content as newsurl
            ,c.readtimes as readtimes
            ,c.goodtimes as thumbs
            ,c.updtime as updtime
            ,t.questiontype as questiontype
        FROM
            paper_question_content c
        LEFT JOIN paper_question_type t ON c.typeid = t.id
        WHERE
            1 = 1
        <if test="questiontype != null and questiontype != ''">
            AND c.typeid = #{questiontype}
        </if>
        <if test="questionid != null and questionid != ''">
            AND c.id = #{questionid}
        </if>
        ORDER BY c.updtime DESC
        <if test="pagingOrNot != null and pagingOrNot != ''">
            LIMIT #{startindex}, #{pagesize};
        </if>
    </select>

    <select id="getQuestionContentCnt" parameterType="Map" resultType="int">
        SELECT
            COUNT(*) as cnt
        FROM
            paper_question_content
        WHERE
            1 = 1
        <if test="title != null and title != ''">
            AND title LIKE "%"#{title}"%"
        </if>
    </select>

    <delete id="delQuestionContent" parameterType="Map">
        DELETE FROM paper_question_content WHERE id = #{id}
    </delete>

    <select id="getQuestionContentDetail" parameterType="Map" resultType="com.biye.paper.biz.questioncontent.QuestioncontentResponse">
        SELECT
        c.id as questionid
        ,c.typeid as questiontypeid
        ,c.title as title
        ,c.summary as summary
        ,c.content as content
        ,c.readtimes as readtimes
        ,c.goodtimes as thumbs
        ,c.updtime as updtime
        ,t.questiontype as questiontype
        FROM
        paper_question_content c
        LEFT JOIN paper_question_type t ON c.typeid = t.id
        WHERE
        1 = 1
        <if test="questionid != null and questionid != ''">
            AND c.id = #{questionid}
        </if>
    </select>

    <update id="editQuestionContent" parameterType="Map">
        UPDATE paper_question_content SET
        <if test="time != null and time != ''">
            updtime = #{time}
        </if>
        <if test="title != null and title != ''">
            ,title = #{title}
        </if>
        <if test="questiontypeid != null and questiontypeid != ''">
            ,typeid = #{questiontypeid}
        </if>
        <if test="summary != null and summary != ''">
            ,summary = #{summary}
        </if>
        <if test="content != null and content != ''">
            ,content = #{content}
        </if>
        WHERE id = #{questionid}
    </update>
</mapper>